## DATA STRUCTURE

#TUPLE
#LIST
#DICTIONARIES
#SET

In [3]:
################################################################################################################

# TUPLE

#Tuple is a sequence of of valuess
#Tuples are use open bracket(round bracket)
#Tuples are immutable(do not change)

In [4]:
a=(1,2,3)
print(a)

(1, 2, 3)

In [5]:
## create an empty Tuples
my_tuple=tuple()

In [6]:
print(my_tuple)

()

In [7]:
type(my_tuple)

tuple

In [8]:
my_tuple=()

In [9]:
type(my_tuple)

tuple

In [10]:
my_tuple=("POOJA","SEJAL","SNEHAL")

In [11]:
my_tuple=('Hello','World')

In [12]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [13]:
type(my_tuple)

tuple

In [14]:
###########################################################################################

## LIST

#A list is a data structure in Python that is a mutable, or changeable
#ordered sequence of elements
#lists are defined by having values between square brackets [ ]

In [15]:
type([])

list

In [16]:
type({})

dict

In [17]:
type(())

tuple

In [18]:
example=[]

In [19]:
type(example)

list

In [20]:
example=['Marathi','English',200,300]

In [21]:
len(example)

4

In [22]:
type(example)

list

In [23]:
#######################################################################################################

In [24]:
##Append Method - Append is used to add the elements

In [25]:
example.append('History')

In [26]:
example

['Marathi', 'English', 200, 300, 'History']

In [27]:
print(example)

['Marathi', 'English', 200, 300, 'History']

In [28]:
example.append(['Maths',400])

In [29]:
example

['Marathi', 'English', 200, 300, 'History', ['Maths', 400]]

In [30]:
# Indexing the list
example[3]

300

In [31]:
example[2:5]

[200, 300, 'History']

In [32]:
######################################################################################

In [33]:
## Insert Method - Insert in specific Order

In [34]:
example.insert(500,"Geography")

In [35]:
example

['Marathi', 'English', 200, 300, 'History', ['Maths', 400], 'Geography']

In [36]:
example.append(["Hello","World"])

In [37]:
example

['Marathi',
 'English',
 200,
 300,
 'History',
 ['Maths', 400],
 'Geography',
 ['Hello', 'World']]

In [38]:
###Extend Method

In [39]:
example.extend(['1','2'])

In [40]:
example

['Marathi',
 'English',
 200,
 300,
 'History',
 ['Maths', 400],
 'Geography',
 ['Hello', 'World'],
 '1',
 '2']

In [41]:
###pop method

In [42]:
example.pop(4)

'History'

In [43]:
example.pop(5)

'Geography'

## Dictionaries

#A dictionary is a collection which is unordered, changeable and indexed. 
#In Python dictionaries are written with curly brackets 
#They have keys and values.

In [44]:
suraj={"shrddha":300,"ekta":300,"pooja":300,"shubham":300}
print(suraj)

{'shrddha': 300, 'ekta': 300, 'pooja': 300, 'shubham': 300}

In [45]:
#key are immutable
suraj["ekta"]=400
print(suraj)

{'shrddha': 300, 'ekta': 400, 'pooja': 300, 'shubham': 300}

In [46]:
#accessing the element
suraj["pooja"]

300

In [47]:
##removing elements from the dictionary
del(suraj["ekta"])
print(suraj)

{'shrddha': 300, 'pooja': 300, 'shubham': 300}

In [48]:
suraj["ekta"]=300
print(suraj)

{'shrddha': 300, 'pooja': 300, 'shubham': 300, 'ekta': 300}

In [49]:
##NESTED DICTIONARIES

In [50]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [51]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [52]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [53]:
print(car_type['car1']['Mercedes'])

1960

## SET

#A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. 
#Python's set class represents the mathematical notion of a set.
#This is based on a data structure known as a hash table

In [55]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [56]:
set_var={20,30,40,50,60}
set_var

{20, 30, 40, 50, 60}

In [57]:
set_var={"Google","Facebook","Instagram"}
print(set_var)
type(set_var)

{'Google', 'Instagram', 'Facebook'}

set

In [58]:
# Inbuilt Function in sets
set_var.add("Twitter")
print(set_var)

{'Google', 'Twitter', 'Instagram', 'Facebook'}

In [68]:
set1={'Google', 'Instagram', 'Facebook'}
set2={'Google', 'Twitter', 'Instagram', 'Facebook'}

In [60]:
# Intersection

In [63]:
set2.intersection_update(set1)
set2

{'Facebook', 'Google', 'Instagram'}

In [64]:
#Difference

In [72]:
set1.difference(set2)
print(set1)

{'Google', 'Instagram', 'Facebook'}